<h2 style="text-align: center; margin-bottom: 40px;">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs container">
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false %>
      </div>
      <div class="col-xs-6">
        <%= f.input :current_password, hint: "We will need your current password to confirm your changes", required: true, placeholder: "Current password", label: false %>
      </div>
    </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.input :password, autocomplete: "off", hint: "Leave it blank if you don't want to change it", required: false, placeholder: "New password", label: false %>
      </div>
      <div class="col-xs-6">
        <%= f.input :password_confirmation, required: false, placeholder: "New password confirmation", label: false %>
      </div>
    </div>
  </div>

  <div class="form-actions container">
    <div class="row">
      <div class="col-xs-12 text-center"><%= f.button :submit, "Update" %></div>
    </div>
  </div>
<% end %>

<h3 style="text-align: center; margin-top: 40px;">Cancel my account</h3>

<p style="text-align: center;">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<p style="text-align: center;"><%= link_to "Back", :back %></p>
