<div id="step_1" class="wrapper wrapper-grey">
  <div class="container">
    <h2 class="text-center">Are you eligible? Please answer these few questions.</h2>
    <h4 style="padding-top: 20px;">Are you currently pregnant or nursing?</h4>
    <p>Yes</p>
    <p>No (add radio buttons)</p>
    <h4 style="padding-top: 10px;">Do you have any of the following chronic health conditions: diabetes, heart disease, high blood pressure or migraines with visual distortions?</h4>
    <p>Yes</p>
    <p>No</p>
    <h4 style="padding-top: 10px;">Are you currently experiencing any pain, discomfort or sudden loss od vision with your eyes?</h4>
    <p>Yes</p>
    <p>No</p>
    <h4 style="padding-top: 10px;">Are you currently experiencing any type of eye disease or had eye surgery within the past 12 months?</h4>
    <p>Yes</p>
    <p>No</p>
    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-offset-6 col-md-6 text-center">
        <a id="next_1" class="btn btn-primary btn-lg banner-button">Next</a>
      </div>
    </div>
  </div>
</div>

<div id="step_2" class="wrapper wrapper-grey hidden">
  <div class="container">
    <h2 class="text-center onboarding-h2">What you need to take the EasyGlasses test</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <div class="onboarding-card">
          <h3>5 minutes</h3>
          <i class="fa fa-clock-o onboarding-icon"></i>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="onboarding-card">
          <h3>A smartphone</h3>
          <i class="fa fa-mobile onboarding-icon"></i>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="onboarding-card">
          <h3>3,5 meters</h3>
          <i class="fa fa-home onboarding-icon"></i>
        </div>
      </div>
    </div>
    <h2 class="text-center onboarding-h2">How it works</h2>
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <div class="onboarding-card">
          <h3>Step 1</h3>
          <p>We'll walk you through setting up your room and devices correctly.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="onboarding-card">
          <h3>Step 2</h3>
          <p>You'll take our 5 minute exam using your Android or iPhone as a remote control for your computer.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="onboarding-card">
          <h3>Step 3</h3>
          <p>After the exam, we'll ask you a few medical questions. Then our doctors wil review your results and prescribe within 24 hours.</p>
        </div>
      </div>
    </div>
    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-6 text-center">
        <a id="previous_2" class="btn btn-primary btn-lg banner-button">Previous</a>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <a id="next_2" class="btn btn-primary btn-lg banner-button">Next</a>
      </div>
    </div>
  </div>
</div>

<div id="step_3" class="wrapper wrapper-grey hidden">
  <div class="container">
    <h2 class="text-center">Computer and room set up</h2>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col-xs-12 col-md-8">
        <h3>Turn up your computer volume</h3>
        <p>You will receive audio instructions from your computer throughout the exam. Make sure your computer audio is loud enough to hear from 10 FT away.</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <i class="fa fa-volume-up onboarding-icon" style="padding-top: 10px;"></i>
      </div>
    </div>
    <div class="row" style="padding-bottom: 10px;">
      <div class="col-xs-12 col-md-8">
        <h3>Make your room as dark as possible</h3>
        <p>Close your window blinds and turn off or dim your lights in your room to avoid glare.</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <i class="fa fa-moon-o onboarding-icon"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h3>Set up your screen</h3>
        <p>Turn up your screen brightness and turn off your screensaver or any power-saving features to avoid disruptions during the exam. Move your screen within 1-2 FT from the edge of your desk.</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <i class="fa fa-sun-o onboarding-icon" style="padding-top: 10px;"></i>
      </div>
    </div>
    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-6 text-center">
        <a id="previous_3" class="btn btn-primary btn-lg banner-button">Previous</a>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <a id="next_3" class="btn btn-primary btn-lg banner-button">Next</a>
      </div>
    </div>
  </div>
</div>

<div id="step_4" class="wrapper wrapper-grey hidden">
  <div class="container">
    <h2 class="text-center onboarding-h2">Connect your smartphone to WiFi</h2>
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <p>Your phone is used to answer questions during the exam. A reliable WiFi connection will ensure a smooth exam experience.</p>
        <br>
        <p>Android or iPhone number</p>
        <p>ADD FORM FOR NUMBER</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <i class="fa fa-mobile" style="font-size: 200px;"></i>
      </div>
    </div>
    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-6 text-center">
        <a id="previous_4" class="btn btn-primary btn-lg banner-button">Previous</a>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <a id="next_4" class="btn btn-primary btn-lg banner-button">Next</a>
      </div>
    </div>
  </div>
</div>

<div id="step_5" class="wrapper wrapper-grey hidden">
  <div class="container">
    <h2 class="text-center onboarding-h2">Remove your shoes</h2>

    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-6 text-center">
        <a id="previous_5" class="btn btn-primary btn-lg banner-button">Previous</a>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <a id="next_5" class="btn btn-primary btn-lg banner-button">Next</a>
      </div>
    </div>
  </div>
</div>

<div id="step_6" class="wrapper wrapper-grey hidden">
  <div class="container">
    <h2 class="text-center onboarding-h2">Final basic information</h2>

    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-6 text-center">
        <a id="previous_6" class="btn btn-primary btn-lg banner-button">Previous</a>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <a id="next_6" class="btn btn-primary btn-lg banner-button">Next</a>
      </div>
    </div>
  </div>
</div>

<div id="step_7" class="wrapper wrapper-grey hidden">
  <div class="container">
    <h2 class="text-center onboarding-h2">Calibrate your computer screen</h2>

    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-6 text-center">
        <a id="previous_7" class="btn btn-primary btn-lg banner-button">Previous</a>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <a id="next_7" class="btn btn-primary btn-lg banner-button">Next</a>
      </div>
    </div>
  </div>
</div>

<div id="step_8" class="wrapper wrapper-grey hidden">
  <div class="container">
    <h2 class="text-center onboarding-h2">Congratulations! Setup complete.</h2>

    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-6 text-center">
        <a id="previous_8" class="btn btn-primary btn-lg banner-button">Previous</a>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <a id="submit" class="btn btn-primary btn-lg banner-button">Submit</a>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      <% for i in 1..8 %>
        $('#next_<%= i %>').click(function(event){
          $('#step_<%= i %>').addClass('hidden');
          $('#step_<%= i + 1 %>').removeClass('hidden');
        });
        $('#previous_<%= i %>').click(function(event){
          $('#step_<%= i %>').addClass('hidden');
          $('#step_<%= i - 1 %>').removeClass('hidden');
        });
      <% end %>
    });
  <% end %>
<% end %>
