<div id="step_0" class="">
   <div class="banner-start-test" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= image_url 'start_the_test.jpg' %>); background-position: center center;">
      <div class="onboarding-banner-content">
        <h1 style="font-size: 30px">Please follow the instructions on your smartphone to start the test.</h1>
      </div>
   </div>
</div>

<div id="step_1" class="wrapper wrapper-grey hidden">
  <div class="container container-min-height">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
          <div class="orientation-size text-center">
            <div class="position">
              <p style="transform: rotate(<%= Question.find_by(position: 1).orientation * 90 %>deg); font-size: <%= Question.find_by(position: 1).size %>px; text-align: center">E</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<% @questions.each do |question| %>
  <% if question.position > 1 %>

  <div id="step_<%= question.position %>" class="wrapper wrapper-grey hidden">
    <div class="container container-min-height">
      <div class="row">
        <% if (1..5).include?(question.position) || (11..15).include?(question.position) %>
        <div class="col-xs-offset-1 col-xs-10">
          <div class="orientation-size">
            <div class="position">
                <p style="transform: rotate(<%= question.orientation * 90 %>deg); font-size: <%= question.size %>px; text-align: center">E</p>
            </div>
          </div>
        </div>
        <% else %>
        <div class="col-xs-offset-1 col-xs-10 flexbox-desktop-questions">
          <div class="orientation-size", style="<% if question.size == 90 %> width: 70% <% elsif question.size == 45 %> width: 55% <% else %> width: 40% <% end %>">
            <div class="position", style="justify-content: space-between;">
             <% %w(X X X).insert(question.orientation - 1, "O").each do |letter| %>
              <span style="font-size: <%= question.size %>px; text-align: center; justify-content: space-between;"><%= letter %></span>
            <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% end %>
<% end %>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      Pusher.logToConsole = true;
      var pusher = new Pusher('<%= ENV['pusher_key'] %>', {
        encrypted: true,
        app_id: '<%= ENV['pusher_app_id'] %>',
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('new_question', function(data) {
        if (parseFloat(data.exam_number) === <%= params[:id] %> ) {
          var i = data.question_position;
          if (i === '0') {
            $('#step_0').addClass('hidden');
            $('#step_1').removeClass('hidden');
          } else {
            if (i === '20') {
              window.location = "<%= root_url + desktop_results_exam_path(params[:id]) %>" ;
            } else {
              $('#step_' + i ).addClass('hidden');
              var j = parseFloat(data.question_position) + 1;
              $('#step_'+ j).removeClass('hidden');
            }
        }}
      });
    });
  </script>
<% end %>
