<div class="wrapper wrapper-grey" id="wrapper_desktop_results">
  <h1 class="text-center", style="margin-top: 10px">The test is over. Please find your results hereafter.</h1>
  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="text-center", style="transform: translateY(50%);">
          <p class="total-score"><strong>Total score</strong> <br> <%= @exam.score_total %> / 20</p>
        </div>
        <div class="card-result">
          <div class="row">
            <div class="col-xs-6">
              <div class="left-right-eye">
                <p><strong>Left eye</strong></p>
                <p><%= @exam.score_left %> / 10</p>
                <% if @exam.score_left > 4 %>
                  <i class="fa fa-thumbs-o-up icon-size"></i>
                <% else %>
                  <i class="fa fa-thumbs-o-down icon-size"></i>
                <% end %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="left-right-eye">
                <p><strong>Right eye</strong></p>
                <p><%= @exam.score_right %> / 10</p>
                <% if @exam.score_right > 4 %>
                  <i class="fa fa-thumbs-o-up icon-size"></i>
                <% else %>
                  <i class="fa fa-thumbs-o-down icon-size"></i>
                <% end %>
              </div>
            </div>
          </div>
        <h2 class="text-center", style="margin: 15px"><%= @exam.recommendation %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="col-xs-6 text-center"><%= link_to "My profile", user_path(@exam.user_id), class: "btn btn-lg btn-primary" %></div>
        <div class="col-xs-6 text-center" id="prescription_status">
          <% if @exam.prescription %>
              <% if @exam.prescription.status == "Pending" %>
                <% if current_user.ophtalmo == false %>
                  <div class="btn-lg-orange">Prescription pending</div>
                <% else %>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Edit precription
                  </button>
                <% end %>
              <% elsif @exam.prescription.status == "Sent" %>
                <div class="btn-lg-green">Prescription sent</div>
              <% end %>
          <% else %>
            <%= form_for([@exam, @prescription], remote: true) do |f| %>
              <%= f.submit "Request a prescription", class: "btn btn-lg btn-primary" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<% if current_user.ophtalmo == true %>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit prescription</h4>
        </div>
        <div class="modal-body">
          <%= form_for([@exam, @exam.prescription], remote: true) do |f| %>
            <%= f.label :ophtalmo_score_left, 'Enter the correction for the left eye' %><br />
            <%= f.text_field :ophtalmo_score_left %>
            <br>
            <%= f.label :ophtalmo_score_right, 'Enter the correction for the right eye' %><br />
            <%= f.text_field :ophtalmo_score_right %>
            <br>
            <%= f.label :description, 'Please add a general comment on the prescription' %><br />
            <%= f.text_field :description %>
            <br>
            <%= f.submit "Send prescription", class: "btn btn-lg btn-primary", id: "submit-btn-modal" %>
          <% end %>
        </div>
  <!--       <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
<% end %>
