<%= simple_form_for @user, url: update_user_after_onboarding_path do |f| %>
<div id="step_2" class="wrapper wrapper-grey">
  <div class="container container-min-height">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="text-center", style="transform: translateY(50%);">
          <i id="icone-mobile" class= "fa fa-mobile onboarding-icon text-center"></i>
        </div>
        <div class="card-desktop-onboarding">
          <div class="question">
            <div class="row">
              <div class="col-xs-12 form-group" style="margin-bottom: 30px;">
                <%= f.label :phone_number, "Please enter your phone number", value: "true"  %>
                <div class="input-group">
                  <span class="input-group-addon">+33</span>
                  <%= f.text_field :phone_number, placeholder: "6 44 60 10 69", class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="text-center", style="transform: translateY(50%)">
          <i id="icone-venus" class= "fa fa-venus-mars onboarding-icon text-center"></i>
        </div>
        <div class="card-desktop-onboarding">
          <div class="question">
            <div class="row">
              <div class="col-xs-6 form-group">
                <%= f.label :shoe_size, "Please enter your shoe size", value: "true"  %>
                <%= f.number_field :shoe_size, step: 0.5, class: "form-control" %>
              </div>
              <div class="col-xs-6 form-group">
                <%= f.label :gender, "Please enter your gender", value: "true"  %>
                <%= f.input :gender, collection: ["Male", "Female"], class:"form-control", label: false %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="text-center", style="transform: translateY(50%)">
          <i id="icone-eye" class= "fa fa-eye onboarding-icon text-center"></i>
        </div>
        <div class="card-desktop-onboarding">
          <div class="question">
            <div class="row">
              <div class="col-xs-6 form-group">
                <%= f.label :wearing_on_now, "Please enter what you have on right now", value: "true"  %>
                <%= f.input :wearing_on_now, label: false, collection: ["Glasses", "Contact lens", "Neither"], class: "form-control" %>
              </div>
              <div class="col-xs-6 form-group">
                <%= f.label :worn_in_past, "Please enter what you ever worn?", value: "true"  %>
                <%= f.input :worn_in_past, label: false, collection: ["Glasses", "Contact lens", "Both", "Neither"], class:"form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row next-previous-buttons">
      <div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
        <div id="next_2" class="btn btn-primary btn-lg" style="margin-top: -15px">Next</div>
      </div>
    </div>

  </div>
</div>

<div id="step_3" class="hidden">
   <div class="banner-start-test" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= image_url 'start_the_test.jpg' %>); background-position: center center;">
    <div class="onboarding-banner-content">
      <h1 style="font-size: 30px">'Start the test now!', we will send you an SMS on your smartphone: <br> follow the instructions carefully, the test should take 5 minutes.</h1>
      <div><%= f.input :exam_id, as: :hidden, input_html: { value: params[:id] } %></div>
      <div style="margin-top: 7%"><%= f.submit "Start the test now!", class: "btn btn-primary btn-lg" %></div>
    </div>
   </div>
</div>

<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      <% for i in 2..8 %>
        $('#next_<%= i %>').click(function(event){
          $('#step_<%= i %>').addClass('hidden');
          $('#step_<%= i + 1 %>').removeClass('hidden');
        });
        $('#previous_<%= i %>').click(function(event){
          $('#step_<%= i %>').addClass('hidden');
          $('#step_<%= i - 1 %>').removeClass('hidden');
        });
      <% end %>
    });
  <% end %>
<% end %>
