<div id="step_1" class="wrapper wrapper-grey">
  <div class="container container-min-height">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
          <div class="orientation-size text-center">
            <div class="position">
              <p style="transform: rotate(<%= Question.find_by(position: 1).orientation * 90 %>deg); font-size: <%= Question.find_by(position: 1).size %>px; text-align: center">E</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<% @questions.each do |question| %>
  <% if question.position > 1 %>

  <div id="step_<%= question.position %>" class="wrapper wrapper-grey hidden">
    <div class="container container-min-height">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="orientation-size text-center">
            <div class="position">
              <p style="transform: rotate(<%= question.orientation * 90 %>deg); font-size: <%= question.size %>px; text-align: center">E</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
<% end %>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      Pusher.logToConsole = true;
      var pusher = new Pusher('<%= ENV['pusher_key'] %>', {
        encrypted: true,
        app_id: '<%= ENV['pusher_app_id'] %>',
      });

      var channel = pusher.subscribe('my-channel');
      channel.bind('new_question', function(data) {
        if (parseFloat(data.exam_number) === <%= params[:id] %> ) {
          var i = data.question_position;
          if (i === '20') {
            window.location = "<%= root_url + desktop_results_exam_path(params[:id]) %>" ;
          } else {
            $('#step_' + i ).addClass('hidden');
            var j = parseFloat(data.question_position) + 1;
            $('#step_'+ j).removeClass('hidden');
          }
        }
      });
    });
  </script>
<% end %>
