<div class="wrapper wrapper-grey" id="wrapper_desktop_results">
  <h1 class="text-center", style="margin-top: 10px">The test is over. Please find your results hereafter.</h1>
  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="text-center", style="transform: translateY(50%);">
          <p class="total-score"><strong>Total score</strong> <br> <%= @exam.score_total %> / 20</p>
        </div>
        <div class="card-result">
          <div class="row">
            <div class="col-xs-6">
              <div class="left-right-eye">
                <p><strong>Left eye</strong></p>
                <p><%= @exam.score_left %> / 10</p>
                <% if @exam.score_left > 4 %>
                  <i class="fa fa-thumbs-o-up icon-size"></i>
                <% else %>
                  <i class="fa fa-thumbs-o-down icon-size"></i>
                <% end %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="left-right-eye">
                <p><strong>Right eye</strong></p>
                <p><%= @exam.score_right %> / 10</p>
                <% if @exam.score_right > 4 %>
                  <i class="fa fa-thumbs-o-up icon-size"></i>
                <% else %>
                  <i class="fa fa-thumbs-o-down icon-size"></i>
                <% end %>
              </div>
            </div>
          </div>
        <h2 class="text-center", style="margin: 15px"><%= @exam.recommendation %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="col-xs-6 text-center"><%= link_to "My profile", user_path(@exam.user_id), class: "btn btn-lg btn-primary" %></div>
        <div class="col-xs-6 text-center">
          <% if @exam.prescription %>
              <% if @exam.prescription.status == "Pending" %>
                <% if current_user.ophtalmo == false %>
                  <div class="btn btn-lg btn-success" style="background-color: orange !important; border-color: orange !important;">Prescription pending</div>
                <% else %>
                  <%= form_for [@exam, @exam.prescription] do |f| %>
                    <%= f.submit "Send prescription", class: "btn btn-lg btn-primary" %>
                  <% end %>
                <% end %>
              <% elsif @exam.prescription.status == "Sent" %>
                <div class="btn btn-lg btn-success" style="background-color: #60B65B !important; border-color: #60B65B !important;">Prescription sent</div>
              <% end %>
          <% else %>
            <%= form_for [@exam, @prescription] do |f| %>
              <%= f.submit "Request a prescription", class: "btn btn-lg btn-primary" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
