<div id="onboarding-slide-1" style="background-image: url(<%=image_url("start_the_test.jpg")%>);"class="mobile-picture first-slide">
  <div class="container text-center">
    <p>Welcome to the EasyGlasses eye exam! First, you need to stand at 3 meters from your computer. Let's do it !</p>
    <div class="row">
      <div class="col-xs-12">
        <div id="onboarding-next-1" class="btn btn-primary" style="margin: auto;"><strong>Next</strong></div>
      </div>
    </div>
  </div>
</div>
<div id="onboarding-slide-2" style="background-image: linear-gradient(to left, rgba(48,67,82,0.4), rgba(215,210,204,0.3)), url(<%= image_url("onboarding01.jpg")%>);" class="mobile-picture hidden">
  <div class="container text-center">
    <p>Stand with your back against your computer as pictured here. Make sure your shoes are off.</p>
    <div class="row">
      <div class="col-xs-6">
        <div id="onboarding-previous-2" class="btn btn-primary" style="margin: auto;"><strong>Previous</strong></div>
      </div>
      <div class="col-xs-6">
        <div id="onboarding-next-2" class="btn btn-primary" style="margin: auto;"><strong>Next</strong></div>
      </div>
    </div>
  </div>
</div>
<div id="onboarding-slide-3" style="background-image: linear-gradient(to left, rgba(48,67,82,0.4), rgba(215,210,204,0.3)), url(<%= image_url("onboarding02.jpg")%>);" class="mobile-picture hidden">
  <div class="container text-center">
    <p>Next, measure <%= @distance.round %> heel-to-toe steps away from your computer.</p>
    <div class="row">
      <div class="col-xs-6">
        <div id="onboarding-previous-3" class="btn btn-primary" style="margin: auto;"><strong>Previous</strong></div>
      </div>
      <div class="col-xs-6">
        <div id="onboarding-next-3" class="btn btn-primary" style="margin: auto;"><strong>Next</strong></div>
      </div>
    </div>
  </div>
</div>
<div id="onboarding-slide-4" style="background-image: linear-gradient(to left, rgba(48,67,82,0.4), rgba(215,210,204,0.3)), url(<%= image_url("onboarding03.jpg")%>);" class="mobile-picture hidden">
  <div class="container text-center">
    <p>Then, turn around and face your computer. You are now at 3 meters from your computer! You can start the exam!</p>
    <div class="row">
      <div class="col-xs-5">
        <div id="onboarding-previous-4" class="btn btn-primary" style="margin: auto;"><strong>Previous</strong></div>
      </div>
      <div class="col-xs-7">
        <%= link_to "Start your exam", mobile_questions_exam_path(@exam), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      <% for i in 1..4 %>
        $('#onboarding-next-<%= i %>').click(function(event){
          $('#onboarding-slide-<%= i %>').addClass('hidden');
          $('#onboarding-slide-<%= i + 1 %>').removeClass('hidden');
        });
         $('#onboarding-previous-<%= i %>').click(function(event){
          $('#onboarding-slide-<%= i %>').addClass('hidden');
           $('#onboarding-slide-<%= i - 1 %>').removeClass('hidden');
        });
      <% end %>
    });
  <% end %>
<% end %>
