  <div id="slide-1" style="background-image: linear-gradient(to left, rgba(48,67,82,0.4), rgba(215,210,204,0.3)), url(<%=image_url("cover_right.jpg")%>);" class="mobile-picture first-slide hidden">
    <div class="container text-center">
      <h3>Gently cover your right eye now.</h3>
      <div class="row">
        <div class="col-xs-12">
         <div id="next-1" class="btn btn-primary"><strong>Next</strong></div>
        </div>
      </div>
    </div>
  </div>
  <div id="slide-2" class="hidden">
    <p style="font-size: 20px; margin-bottom: 30px; text-align:center;">Select the object you see.</p>
    <div class="container">
      <div class="flexbox">
        <div class="flex-item">
          <%= link_to user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 4), method: :post, class: "mobile-button" do %>
            <div style="transform: rotate(0deg)">
              E
            </div>
          <% end %>
        </div>
        <div class="flex-item vertical-items">
          <%= link_to user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 1), method: :post, class: "mobile-button" do %>
            <div style="transform: rotate(90deg)">
              E
            </div>
          <% end %>
          <%= link_to user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 3), method: :post, class: "mobile-button" do %>
            <div style="transform: rotate(270deg)">
              E
            </div>
          <% end %>
        </div>
        <div class="flex-item">
          <%= link_to user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 2), method: :post, class: "mobile-button" do %>
            <div style="transform: rotate(180deg)">
              E
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <%= link_to "Can't tell", user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 0), method: :post, class: "btn btn-primary", style: "margin-top: -80px" %>
    </div>
  </div>

  <div id="slide-4" style="background-image: linear-gradient(to left, rgba(48,67,82,0.4), rgba(215,210,204,0.3)), url(<%=image_url("cover_left.jpg")%>);" class="mobile-picture first-slide hidden">
    <div class="container text-center">
      <h3>Gently cover your left eye now.</h3>
      <div class="row">
        <div class="col-xs-12">
         <div id="next-4" class="btn btn-primary"><strong>Next</strong></div>
        </div>
      </div>
    </div>
  </div>

  <div id="slide-5" class="hidden">
    <p style="font-size: 20px; margin-bottom: 30px">Select which character looks different.</p>
    <div class="row">
      <div class="col-xs-3">
        <%= link_to "1", user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 1), method: :post, class: "mobile-button-small"%>
      </div>
      <div class="col-xs-3">
        <%= link_to "2", user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 2), method: :post, class: "mobile-button-small"%>
      </div>
      <div class="col-xs-3">
        <%= link_to "3", user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 3), method: :post, class: "mobile-button-small"%>
      </div>
      <div class="col-xs-3">
        <%= link_to "4", user_answers_path(:question_position => (Exam.find(params[:id]).user_answers.count + 1), :answered_orientation => 4), method: :post, class: "mobile-button-small"%>
      </div>
    </div>
  </div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
   <% if Exam.find(params[:id]).user_answers.count == 0 %>
        $('#slide-1').removeClass('hidden');
        $('#next-1').click(function(event){
          $('#slide-1').addClass('hidden');
          $('#slide-2').removeClass('hidden');
        });
      <% else %>
        <% if (1..4).include?(Exam.find(params[:id]).user_answers.count) || (11..14).include?(Exam.find(params[:id]).user_answers.count) %>
          $('#slide-2').removeClass('hidden');
        <% else %>
          <% if Exam.find(params[:id]).user_answers.count == 10 %>
            $('#slide-4').removeClass('hidden');
            $('#next-4').click(function(event){
              $('#slide-4').addClass('hidden');
              $('#slide-2').removeClass('hidden');
              });
          <% else %>
            <% if (5..9).include?(Exam.find(params[:id]).user_answers.count) || (15..19).include?(Exam.find(params[:id]).user_answers.count) %>
              $('#slide-5').removeClass('hidden');
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    });
  </script>
<% end %>
